.create-subject{
    width: 100%;
    padding-right: 10px;
}
/* Profile container */
.profile {
  margin: 20px 0;
}
.col-md-3{
  position: sticky;
  top: 0px;
  z-index: 1;
}
  /* bar-btn */
.bar-btn{
  position: absolute;
  top:0px;
  left: 25px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 200;
}
.bar-btn.hamburger{
  z-index: 100;
  left: 3px;  
  top: 5px;
}
.bar-btn i{
  -webkit-text-stroke: 2px white;
}

/* main-subject */
.main-subject{
  background-color: #fff;
  min-height: calc(100vh - 140px);
  border-radius: 5px;
  padding-bottom: 20px;
}
