<div class="create-subject">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
                <div class="bar-btn">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </div>
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/assets/img/avatar.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Hoang Anh
					</div>
					<div class="profile-usertitle-job">
						Student
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
			
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-th-list"></i>
							Tổng Quan </a>
						</li>
						<li class="active">
							<a href="#">
                            <i class="glyphicon glyphicon-folder-open"></i>
							Bộ Đề </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-calendar"></i>
							Lịch Sử Thi </a>
						</li>
						<li>
							<a href="#">
                            
                            <i class="glyphicon glyphicon-user"></i>
							Chỉnh Sửa Thông Tin </a>
                        </li>
					</ul>
                </div>
                <div class="logout" (click)="onLogOut()">
                    <a href="#" class="btn btn-info btn-lg">
                      <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </div> 
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="subject-content">
			    <div class="subject">
                    <div class="subject-element">

                        <i class="glyphicon glyphicon-folder-open"></i>
                        <p>Bộ Đề 01</p>
                    </div>
                </div>
                <div class="subject add">
                    <div class="subject-element">
                        <button type="button" class="btn btn-primary" (click)="onCreateSubject()">
							Tạo mới bộ đề
						</button>                   
                    </div>
				</div>
				<!-- popup -->
				<router-outlet></router-outlet>
            </div>
		</div>
	</div>         

</div>




