<div *ngIf="results">
    <div class="chart-containter">
        <div class="layer-empty" *ngIf="results.length === 0">
            There is no data for this duration
        </div>
        <div style="display: block;">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [plugins]="barChartPlugins"
                [chartType]="barChartType">
        </canvas>
        </div>
        <p class="name-chart">Score</p>
    </div>
</div>
