<!-- [routerLink]="[]" [queryParams]="{page:no}" -->

<div class="navbar">
    <ul class="nav navbar-nav">
        <li >
            <a [routerLink]="['/bo-de']" [queryParams]="{trang: 1}">Tất cả bộ đề</a>
        </li>
        <li routerLinkActive = "active">
            <a [routerLink]="['/chi-tiet']" [queryParams]="{bo_de: subject_id, trang: 1}">Bộ đề {{subjectname | uppercase}} ( Tổng {{total}} câu hỏi )</a>
        </li>
        <li routerLinkActive = "active" *ngIf="!showQuestions">
            <a [routerLink]="['/chi-tiet/de-thi']" [queryParams]="{bo_de: subject_id}">Tất cả đề thi</a>
        </li>
    </ul>
</div>

<!-- <div class="btn-container">
    <button type="button" class="btn btn-primary" (click)="onAddQuestion()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Thêm câu hỏi</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="overviewTests()">
        <i class="glyphicon glyphicon-list-alt"></i>
        <span>Đề thi</span>
    </button>  
    <button type="button" class="btn btn-danger" (click) = "openConfirmBlock()">
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        <span>Xóa bộ đề</span>
    </button>
</div> -->

<router-outlet (activate)="onActive($event)" (deactivate)="onToggle()"></router-outlet>

<div class="panel panel-danger confirm-del-subject" *ngIf="confirmBlock">
      <div class="panel-heading">
            <h3 class="panel-title">Xóa Bộ Đề</h3>
            <i class="glyphicon glyphicon-remove" (click)="openConfirmBlock()"></i>
      </div>
      <div class="panel-body">
            Bạn có chắc chắn muốn xóa bộ đề {{subjectname | uppercase}} không ?
            <div>

                <button type="button" class="btn btn-primary" (click) = "openConfirmBlock()">Không</button>
                
                <button type="button" class="btn btn-danger" (click) = "onDelSubject(subject_id)">Có</button>
            </div>
      </div>
</div>

<div class="isExistSubject" *ngIf="isExistSubject">
        Bộ đề không tồn tại
</div>

<ng-container *ngIf="showQuestions">
    <!-- <h3>Danh sách câu hỏi</h3>
    <i *ngIf="questions">( Tổng {{total}} câu hỏi )</i> -->
    <div class="questions-container">
        <div class="question" *ngFor="let question of questions; let i = index">
            <div class="question-elemment">
                <h4 (click)="onEditQuestion(i)">
                    <strong>Câu {{i+1+(page-1)*10}}:</strong> ({{levels[question.level]}})
                </h4>
                <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onEditQuestion(question)"></i>
                <p>
                    {{question.title}}
                </p>
            </div>
            <div class="answers">
                <div class="" *ngFor="let answer of question.answers; let j = index">
                    <div class="answer-elemnt is{{answer.isCorrect}}">
                        <!-- <input type="checkbox" id="a_{{i}}_{{j}}" value="j" name="a_{{i}}"> -->
                        <label for="a_{{i}}_{{j}}">
                            {{answer.content}}
                        </label>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <ul class="pagination" *ngIf="totalPage > 1">
        <li><a (click)="onPrevious()">&laquo;</a></li>
        <ng-container *ngFor="let page of arrayV(); let i= index;">
            <li routerLinkActive="active">
                <a [routerLink]="['/chi-tiet']" [queryParams]="{bo_de: subject_id, trang: i+1}">
                    {{i+1}}
                </a>
            </li>
        </ng-container>
        <li><a (click)="onNext()">&raquo;</a></li>
    </ul>  
</ng-container>

    



