<i class="fa fa-long-arrow-left" aria-hidden="true" (click)="onBack()"></i>Quay lại
<div class="panel panel-default" *ngIf="test">
      <div class="panel-heading">
            <h3 class="panel-title">ĐỀ THI {{test.testTitle | uppercase}}</h3>
            <i>({{test.easyQty+test.normalQty+test.hardQty}} câu hỏi)</i>
            <p>Thời gian: {{test.timeTest}} phút</p>
      </div>
      <div class="panel-body">
        <div class="question" *ngFor="let question of questions; let i = index">
            <div class="question-elemment">
                <h4>
                    <strong>Câu {{i+1}}:</strong>
                </h4>
                <p>
                    {{question.title}}
                </p>
            </div>
            <div class="answers">
                <div class="" *ngFor="let answer of question.answers; let j = index">
                    <!-- is{{answer.isCorrect}} -->
                    <form>
                        <div class="answer-elemnt">
                            <input type="checkbox" id="a_{{i}}_{{j}}" value=j>
                            <label for="a_{{i}}_{{j}}">
                                {{answer.content}}
                            </label>    
                        </div>
                    </form>
                </div>
            </div>
        </div> 
      </div>
</div>

