/* chart */
.your-res-chart{
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #eaf4ff;
    position: relative;
}
.overview-analytics {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px 0 20px;
    position: relative;
}
.layer-empty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221,0.2);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.2);
}
.overview-analytics .data-analytic-container{
    width: 22%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #8cc5f3;
    border-radius: 10px;
}
.overview-analytics .data-analytic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.overview-analytics .data-analytic i{
    font-size: 3em;
    color: #8cc5f3;
}
.overview-analytics .data-analytic p{
    margin: 0;
}
.overview-analytics .data-analytic .data-title{
    padding: auto 10px;
    margin-left: 10px;
}
.overview-analytics .data-analytic .data-title .data{
    font-size: 2em;
}