.add-question-container{
    position: relative;
}
.alert-status{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 20px;
}
.alert-status span{
    font-size: 1em;
    font-weight: initial;
}
.showNewQuestion{
    width: 40%;
    display: flex;
    padding-top:100px;
    padding-left:30px;
}
.panel{
    position: relative;
    /* width: 80%; */
}
.panel-heading > i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 100;
    font-size: 1.2em;
    -webkit-text-stroke: 2px #f2f2f2;
}
.panel-heading h3:not(.panel-title){
    font-size: 1.2em;
}
.panel{
    margin-top: 20px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
form.add-question div button{
    width: auto;
    height: auto;
    padding: 6px 10px;
    font-size: 1em;
    /* margin-top: 10px; */
    line-height: initial;
}
.form-group{
    margin-bottom: 5px;
}
form.add-question button.add-answer{
    background-color: #337ab7;
    margin-bottom: 12px;
    font-size: 1em;
    text-align: center;
    padding: 0 3px;
}
.delQs_btn{
    float: right;
    border: none;
}
form.add-question textarea, form.add-question span{
    width: 80%;
    resize: vertical;
}
form.add-question label{
    width: 10%;
    font-weight: normal;
}
form.add-question select{
    width:105px;
    padding:5px;
}
div.answer-container{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
div.answer-container label{
    margin-bottom: 0;
    text-align: center;
}
form.add-question  input[type=checkbox]{
    /* margin-right: 6px; */
    margin: 0;
}

i{
    cursor: pointer;
    font-size: 1em;
}

.confirm-del-subject{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 45%;
    z-index: 100;
  }
/* delete confirm aler */

.confirm-del-subject .panel-heading{
    background-color: #d9534f;
  }
  .confirm-del-subject .panel-heading h4{
    color: #fff;
    text-align: left;
  }
  .confirm-del-subject .panel-body h4{
    color: initial;
  }
  .confirm-del-subject i{
    position: absolute;
    top:10px;
    right: 10px;
    -webkit-text-stroke: 2px #d9534f;
    font-size: 0.8em;
    color: white;
  }
  .confirm-del-subject button{
    margin: 20px 10px;
    width: 45px;
    text-align: center;
    padding: 6px 0px;
  }