<h2>BỘ ĐỀ - {{ subjectname | uppercase }}</h2>
<hr />

<div class="panel panel-heading">
    <div class="panel-heading">
            <h3 class="panel-title">Tạo Câu Hỏi</h3>
            
    </div>
    <div class="">
        <form 
        class="add-question"
        novalidate="true"
        [formGroup]="addQuestionForm"
        (ngSubmit)="onAddQuestion()"
    >
        <div class="form-group">
            <h3> Câu Hỏi</h3>
            <textarea type="text" 
            class="form-control question"
            placeholder="Nhập câu hỏi ở đây"
            formControlName="questionTitle"
            #questionTitle
            ></textarea>
            
            <span 
            class="label label-danger"
            *ngIf="addQuestionForm.controls.questionTitle.touched && addQuestionForm.controls.questionTitle.errors?.required"
            >
            Vui lòng nhập câu hỏi !
            </span>
        </div> 
        <div class="form-group">
            <label>Mức độ</label>
            <select  class="form-control" required="required"
                formControlName="level"
                #level
            >
                <option *ngFor="let level of levels " [value]="level.value">{{level.name}}</option>
                <!-- <option value="">Trung bình</option>
                <option value="">Khó</option> -->
            </select>
        </div>

        <h3>Đáp án</h3>
        <button 
            type="button" class="btn btn-primary add-answer"
            (click)="addAnswer()"
            >
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <div class="form-group" formArrayName="answers">
            <div *ngFor="let answer of answers.controls; let i = index">
                <div [formGroupName] = i>
                    <div class="answer-container">
                        <textarea type="text" 
                        class="form-control answer"
                        [attr.rows]="1"
                        placeholder="Nhập đáp án ở đây"
                        formControlName="content"
                        #content
                        ></textarea>
                        <label class="">
                            <input type="checkbox" #isCorrect formControlName = "isCorrect">
                            <span class="checkmark">Đúng</span>
                        </label>
                        <label>
                            <i class="glyphicon glyphicon-trash" (click)="removeAnswer(i)"></i>
                        </label>
                    </div>
                    <span class="label label-danger"
                        *ngIf="0"
                    >
                        Vui lòng nhập đáp án !
                    </span>
                </div>
            </div>
        </div> 
        <div class="form-group">
                
        </div>
        {{this.addQuestionForm.value | json}}
        <div class="form-group">
            
                <button 
                type="submit"  class="btn btn-primary"
                [disabled]="addQuestionForm.invalid"
                >
                    Tạo câu hỏi
                </button>
            
        </div>
    </form>
    </div>
</div>
