.add-question-container{
    margin-top: 20px;
    padding: 7px;
}
.alert-status{
    position: fixed;
    bottom: 15px;
    left: 5px;
    padding: 5px 10px;
    z-index: 10;
}
.alert-status span{
    font-size: 1em;
    font-weight: initial;
    padding: 10px;
}
.showNewQuestion{
    width: 40%;
    display: flex;
    padding-top:100px;
    padding-left:30px;
}
.panel{
    position: relative;
    /* width: 80%; */
}
.panel-heading button.btn-back{
    position: absolute;
    top: 25px;
    right: 20px;
}
.panel{
    margin-top: 20px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
form.add-question div button{
    width: auto;
    height: auto;
    padding: 6px 10px;
    font-size: 1em;
    /* margin-top: 10px; */
    line-height: initial;
    margin-top: 15px;
}
.form-group{
    margin-bottom: 5px;
}
form.add-question div button.add-answer{
    margin-top: 2px;
    font-size: 1em;
    text-align: center;
} 
form.add-question div button.add-answer i{
    -webkit-text-stroke: 2px #fff;
}
form.add-question div button.add-answer:hover i{
    -webkit-text-stroke: 2px #ddd;
}
form.add-question div button.add-answer:focus i{
    -webkit-text-stroke: 2px #eee;
}
form.add-question div button.add-answer:focus{
    background-color: #eee;
}
form.add-question span.add-answer{
    padding-left: 2px;
    cursor: pointer;
    width: auto;
}
.delQs_btn{
    margin-left: 20px;
    border: none;
}
form.add-question textarea, form.add-question span{
    width: 80%;
    resize: vertical;
}
form.add-question label{
    width: 10%;
    font-weight: normal;
}
    .label-danger {
        background-color: #fff;
        color: #d9534f;
        font-size: 0.9em;
        display: inline-block;
        text-align: left;
        margin-top: 10px;
        padding-left: 2px;
    }
form.add-question select{
    width:105px;
    padding:5px;
}
div.answer-container{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
div.answer-container label{
    margin-bottom: 0;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
div.answer-container label.show-false{
    opacity: 0;
}
h3.answers-title{
    margin-top: 15px;
    margin-bottom:  8px;
    font-size: 1em;
    font-weight: bold;
}
h3.end-title{
    margin-bottom: 3px;
}

form.add-question  input[type=checkbox]{
    /* margin-right: 6px; */
    margin: 0;
}

i{
    cursor: pointer;
    font-size: 1em;
}

/* .confirm-del-subject{
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 40%;
    z-index: 100;
  } */
/* delete confirm alert */

/* .confirm-del-subject .panel-heading{
    background-color: #d9534f;
  }
  .confirm-del-subject .panel-heading h4{
    color: #fff;
    text-align: left;
  }
  .confirm-del-subject .panel-body h4{
    color: initial;
  } */
  .confirm-del-subject i{
    position: absolute;
    top:8px;
    right: 8px;
    -webkit-text-stroke: 2px #fff;
    font-size: 0.8em;
    color: #555;
  }
  .confirm-del-subject i:hover{
      color: #000;
  }
  /* .confirm-del-subject button{
    margin: 20px 10px;
    width: 65px;
    text-align: center;
    padding: 6px 0px;
  } */