<nav class="navbar">
    <ul>
        <li class="logo">
            <a [routerLink]="['']">
                <img class="images" src="assets/img/logo.png" alt="PT Exam Prep">
            </a>
        </li>
        <li *ngIf="!username; else signedIn">
            <a 
            [routerLink]="['/tai-khoan/dang-nhap']"
            >
                <div class="user">
                    <span>Đăng Nhập</span>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
            </a>
            
        </li>  
        <ng-template #signedIn>
            <li>
                <a 
                >
                    <div class="user" (click)="onToggleSidebar()">
                        <span>{{username | titlecase}}</span>
                        <img src="assets/img/avatar.png" >
                    </div>
                </a>
            </li>  
        </ng-template> 
    </ul>
</nav>

<router-outlet (activate)="onActive($event)"></router-outlet>

<footer>
    <p>
        Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
        2021 by PTExamprep.com
    </p>
</footer>
