<ng-container>
    <nav class="sub-navbar" >
        <ul>
            <li class="home">
                <a [routerLink]="['']">Trang Chủ</a>
            </li>
            <li class="active">
                <a *ngIf="!isSignUp else navSignUp">Đăng nhập</a>
                <ng-template #navSignUp>
                    <a>Đăng ký</a>  
                </ng-template>
            </li>
        </ul>
    </nav>
</ng-container>

<div class="container">
    <div class="slogan">
        <img src="assets/img/logo1.png">
        <p>Trắc nghiệm thông minh !</p>
    </div>

        <div class="panel panel-primary" *ngIf="isSignIn">
            <div class="panel-heading">
                  <h3 class="panel-title">Đăng Nhập</h3>
            </div>
            <div class="panel-body">
                <form 
                    [formGroup]="signInForm"
                    novalidate="true"
                >
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="username"
                        placeholder="Email hoặc User name"
                        required
                        #username
                        > 
                        <span 
                          class=""
                          *ngIf="signInForm.controls.username.touched && signInForm.controls.username.errors?.required"
                        >
                        Vui lòng nhập Username !
                        </span>
                    </div> 
                    
                    <div class="form-group">
                        <input 
                        type="password" 
                        class="form-control" 
                        formControlName="password"
                        placeholder="Mật khẩu"
                        required
                        #password
                        > 
                        <span 
                          class=""
                          *ngIf="signInForm.controls.password.touched && signInForm.controls.password.errors?.required"
                        >
                        Vui lòng nhập password !
                        </span>
                    </div> 
    
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" disabled="signInForm.valid" class="btn btn-primary">Đăng Nhập</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="button" 
                            class="btn btn-primary"
                            (click)="onSignUp()"
                            >
                                Tạo tài khoản mới
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" *ngIf="isSignUp">
            <div class="panel-heading">
                  <h3 class="panel-title">Đăng Ký</h3>
            </div>
            <div class="panel-body">
                <form
                    [formGroup] = "signUpForm"
                    novalidate="true"
                >
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="fullname"
                        placeholder="Họ và Tên"
                        #fullname
                        > 
                        <span 
                        *ngIf="signUpForm.controls.fullname.touched && signInForm.controls.fullname.errors?.required"
                        >
                        </span>
                    </div> 
                    
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="username"
                        placeholder="Username"
                        #username
                        > 
                        <span 
                        *ngIf="signInForm.controls.username.touched && signInForm.controls.username.errors?.required"
                        >
                        </span>
                    </div>
                    
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="email"
                        placeholder="Email"
                        #email
                        > 
                        <span 
                        *ngIf="signInForm.controls.email.touched && signInForm.controls.email.errors?.required"
                        >
                        </span>
                    </div>

                    <div class="form-group">
                        <input 
                        type="password" 
                        class="form-control" 
                        formControlName="newpassword"
                        placeholder="Mật khẩu mới"
                        #newpassword
                        > 
                        <span 
                        *ngIf="signInForm.controls.newpassword.touched && signInForm.controls.newpassword.errors?.required"
                        >
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" 
                            class="btn btn-primary"
                            >
                                Tạo tài khoản mới
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- </ng-template> -->

</div>



