<div class="subject-content">
    <div class="subject">
        <div class="subject-element">

            <i class="glyphicon glyphicon-folder-open"></i>
            <p>Bộ Đề 01</p>
        </div>
    </div>
    <div class="subject add">
        <div class="subject-element">
            <button type="button" class="btn btn-primary" (click)="onCreateSubject()">
                Tạo mới bộ đề
            </button>                   
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
