<div class="subject-content">
    <div class="subject" 
        *ngFor="let subject of subjects"
        (click)="detailSubject(subject._id)"
    >
        <div class="subject-element">

            <i class="glyphicon glyphicon-folder-open"></i>
            <p>Bộ Đề - {{subject.subjectname | uppercase}}</p>
        </div>
    </div>
    <div class="subject add">
        <div class="subject-element">
            <button type="button" class="btn btn-primary" (click)="onCreateSubject()">
                Tạo mới bộ đề
            </button>                   
        </div>
    </div>
    <router-outlet (activate)="onActive($event)"></router-outlet>
</div>
