
<input type="text"  id="search" #search (input)="onSearch(search.value)"
    class="form-control" placeholder="Search for Name">
<p class="resSearchEmpty" *ngIf="resSearchEmpty"> No search results found</p>
<div class="subject-content">
    <div class="subject-container" *ngIf="!searching">
    <div class="subject add" (click)="onCreateSubject()" >
        <div class="subject-element">
            <i class="fa fa-folder" aria-hidden="true">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </i>
            <p>New Subject</p>
            <!-- <button type="button" class="btn btn-primary" >
                Tạo mới bộ đề
            </button>                    -->
        </div>
    </div>
    </div>
    <div class="subject-container" *ngFor="let subject of subjects">
    <div class="subject" 
        (click)="detailSubject(subject._id)"
    >   
        <div class="subject-element">

            <i class="glyphicon glyphicon-folder-open"></i>
            <p>{{subject.subjectname | uppercase}}</p>
        </div>  
    </div>
    </div>
    <router-outlet (activate)="onActive($event)"></router-outlet>
</div>
<ul class="pagination" *ngIf="totalPage > 1">
    <li><a (click)="onBack()">&laquo;</a></li>
    <ng-container *ngFor="let page of arrayV(); let i= index;">
        <li routerLinkActive="active">
            <a [routerLink]="['/subjects']" [queryParams]="{page: i+1}">
                {{i+1}}
            </a>
        </li>
    </ng-container>
    <li><a (click)="onPrevious()">&raquo;</a></li>
</ul>

