.component-container{
    position: relative;
}
.add-question{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.add-question button{
    margin-top: 10px;
    margin-right: 10px;
}
.pagination{
    margin-left: 15px;
}
.answer-elemnt{
    margin: 10px 0;
}