.component-container{
    position: relative;
}
.add-question{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 8px;
}
.add-question p{
    margin-bottom: 0px;
    margin-left: 12px;
}
.add-question button{
    margin-right: 10px;
}
.pagination{
    margin-left: 15px;
}
.answer-elemnt{
    margin: 10px 0;
}
