<div class="main-container">
    <section class="feature-section">
        <div *ngFor="let introduce of introduces"
        class="feature">
            <img src="{{introduce.imgUrl}}">
            <div class="content">
                <h3>{{introduce.title}}</h3>
                <p>
                    {{introduce.content}}
                </p>
            </div>
            <button (click)="onSignUp()">
                {{introduce.action}}
            </button>
        </div>
    </section>
</div>