<div class="main-container">
    <section class="feature-section">
        <div class="feature">
            <img src="assets/img/feature1.jpg">
            <div class="content">
                <h3>ĐỀ THI HỌC KỲ</h3>
                <p>
                    Tổng hợp các đề thi học kì các môn cấp 3 với các câu hỏi được phân loại khó, dễ, trung bình
                    dưới hình thức trắc nghiệm.
                </p>
            </div>
            <button>Đăng Ký</button>
        </div>
        <div class="feature">
            <img src="assets/img/feature2.jpg">
            <div class="content">
                <h3>ĐỀ THI THPT QUỐC GIA</h3>
                <p>
                    Tổng hợp các đề thi trắc nghiệm online THPT Quốc Gia các môn Toán, Lý, Hóa, Sinh qua các năm.
                </p>
            </div>
            <button>Đăng Ký</button>
        </div>
        <div class="feature">
            <img src="assets/img/feature3.jpg">
            <div class="content">
                <h3>ĐỀ KIỂM TRA</h3>
                <p>
                    Tổng hợp các đề kiểm tra 15 phút, kiểm tra 1 tiết theo hình thức trắc nghiệm online.
                </p>
            </div>
            <button>Đăng Ký</button>
        </div>
    </section>
</div>