<div>
    <div class="profile-sidebar" *ngIf="show">
        <!-- <div class="bar-btn">
            <i class="glyphicon glyphicon-menu-hamburger" (click)="onToggle()"></i>
        </div> -->
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="/assets/img/avatar.png" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{ username | titlecase}}
            </div>
            <div class="profile-usertitle-job">
                Student
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->

        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/overviews']">
                        <i class="glyphicon glyphicon-th-list"></i>
                        Overview
                    </a>
                </li>
                <!-- class="active" -->
                <li routerLinkActive="active">
                    <!-- (click)="toSubject()" -->
                    <a [routerLink]="['/subjects']" [queryParams]="{page: 1}">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        Subject Tests
                    </a>
                    <ng-container *ngIf="caret_down">
                        <i class="fa fa-caret-down" aria-hidden="true" (click)="onToggleSubmenu()"></i>
                    </ng-container>

                    <ul class="nav" *ngIf="submenu">
                        <li>
                            <a (click)="onDashboard()">
                                <i class="glyphicon glyphicon-th-list"></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a (click)="overviewTests()">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Tests
                            </a>
                        </li>
                        <li>
                            <a (click)=allQuestions()>
                                <i class="glyphicon glyphicon-question-sign"></i>
                                Questions
                            </a>
                        </li>                 
                        <li>
                            <a (click) = "openConfirmBlock()">
                                <i class="glyphicon glyphicon-minus"></i>
                                Remove Subject Test
                            </a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/activity-logs']" [queryParams]="{time: 'month'}">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Activity Logs </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
</div>

<div class="panel panel-danger confirm-del-subject" *ngIf="confirmBlock">
    <div class="panel-heading">
          <h4 class="panel-title">Delete Subject Test</h4>
          <i class="glyphicon glyphicon-remove" (click)="openConfirmBlock()"></i>
    </div>
    <div class="panel-body">
            <h4>Are you sure you want to delete this subject test ?</h4>
            <div>
              <button type="button" class="btn btn-primary" (click) = "openConfirmBlock()">No</button>
              <button type="button" class="btn btn-danger" (click) = "onDelSubject()">Yes</button>
          </div>
    </div>
</div>  