/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #edf0f5;
    width: 100%;
    margin: 0;
    padding: 0px;
}
i:hover{
    color: crimson;
}
/* cursor pointer */
i{
    cursor: pointer;
}
/* ---------- */

.sub-navbar{
    position: absolute;
    right: 0;
    top: 80px;
    width: 100vw;
    height: 50px;
    background-color: #dddd;
}
.sub-navbar ul{
    display: flex;
    flex-flow: row nowrap;
}
.sub-navbar li a {
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0px 15px;
    text-decoration: none;
    color: #337ab7;
    font-size: 18px;
}
.sub-navbar li.home:hover a{
    color: #0c3c66;
    cursor: pointer;
}
.sub-navbar li.active{
    font-size: 20px;
    font-weight: bold;
}

/* ----------- */
.container{
    /* position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%,-45%); */
    margin: 60px auto 120px;
    display: flex;
    flex-flow: nowrap wrap;
    align-items: center;
    justify-content: space-between;
}
.panel-title{
    text-align: center;
}
.panel-primary{
    width: 400px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 4px rgba(4, 4, 4, 0.25);
    border: none;
    border-radius: 10px;
}
.panel-primary div.panel-heading{
    /* background-color: #f2f2f2; */
    border-bottom: 2px solid #ddd;
    /* color: #000; */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-heading h3{
    font-size: 25px;
    font-weight: bold;
}
.panel-body form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.panel-body form div{
    margin: 10px auto;
}
.panel-body input{
    width: 280px;
    height: 50px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
    font-size: 20px;
}

.panel-body div.form-group span{
    display: block;
    margin-top: 6px;
    color: #d9534f;
}

form div button[type=submit]{
    width: 280px;
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
    outline: none;
    border: none;
}
form div button[type=button]{
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: #27AE60;
    border-radius: 10px;
    outline: none;
    border: none;
}
form div button[type=button]:hover{
    background-color: #11F38A;
}

.panel-danger{
    border:1px solid #d9534f;
    text-align: center;
    color:#d9534f;
    font-size: 24px;
}

/* ---------- */
.slogan{
    background-color: #F2F3F5;
    padding: 15px;
}
.slogan img{
    width:200px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.slogan p{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
hr{
    height: 1px;
    background-color: #ddd;
}
/* home component */
nav.navbar{
    width: 100%;
    height:80px;
    /* background: linear-gradient(to right, #9a68fc,#7662b9); */
    /* background-color: #5b9bd1; */
    --gradient-from-color: #5b9bd1;
    --gradient-to-color: #8cc5f3;
    background: var(--gradient-to-color) 
    linear-gradient(90deg,var(--gradient-from-color),
    var(--gradient-to-color) 51%,var(--gradient-from-color));
    transition: .5s;
    top:0;
    right: 0;
    border-radius: 0;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 0 10% 0 20%;
    margin-bottom: 0;
}
.navbar ul{
    display: flex;
    height: 80px;
    flex-flow: nowrap row;
    justify-content: flex-start;
    align-items: center;
}
.navbar ul li.logo{
    flex-basis: 70%;
}
.navbar ul li{
    margin-right: 20px;
}
.navbar ul li a{
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.navbar ul li a img{
    width: auto;
    height: 60px;
}
.navbar ul li a div.user{
    height: 50px;
    text-align: center;
    display: flex;
    flex-flow:row ;
    align-items: center;
    justify-content: space-around;
    color: #f2f3f5;
}
div.user span{
    font-size: 2rem;
    line-height: 60px;
    margin-right: 5px;
}
div.user i{
    font-size: 3rem;
    line-height: 60px;
}
.navbar ul li a div.user img{
    height: 40px;
    width: auto;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

footer{
    background-color: #cbcdd1;
    height: 60px;
    width: 100%;
    display: block;
    padding: 0;
}

footer p{
    text-align: center;
    line-height: 60px;
    margin: 0;
    color: #777;
}

/* --------------------- */
/* Render questions */
.questions-container{
    max-height: 100vh;
    overflow-y: scroll;
    padding: 10px;
}
.question{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 10px;
}
.question-elemment{
    position: relative;
}

.question-elemment .fa-pencil-square-o{
    position: absolute;
    top:0px;
    right: 15px;
}
.answer-elemnt.istrue{
    color: green;
}

.answer-elemnt input{
    margin-right: 10px;
}

/* pagination */
.pagination>li>a{
    cursor: pointer;
}
.pagination>li>a:active{
    background-color: #69abe6;
}